<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.BoardMapper">
	<!-- 추가 -->
	<insert id="insertBoard" parameterType="com.sp.app.model.Board">
		INSERT INTO bbs (num, name, pwd, subject, content, ipAddr, hitCount, reg_date)
		VALUES (bbs_seq.NEXTVAL, #{name}, #{pwd}, #{subject}, #{content}, 
			#{ipAddr}, 0, SYSDATE)
	</insert>

	<!-- sql 태그 -->
	<!--
		* ${} : 테이블명 이나 컬럼명이 동적일때 테이블명 또는 컬럼명에 사용
		* #{} : 값부분은 반드시 #{} 로 사용하며, ? 로 치환되고 쿼리는 PreparedStatement 객체로 실행한다.
	-->
	<!--
		* INSTR() 함수 대신 LIKE 를 사용하는 경우
		  subject LIKE '%' || #{kwd} || '%'
		* CLOB인 경우 검색(LIKE 사용하지 말것)
		  DBMS_LOB.INSTR(content, #{kwd}) &gt; 0 
	-->	
	<sql id="where-list">
		<choose>
			<when test="schType == 'all'">
				( INSTR(subject, #{kwd}) &gt; 0
			    	OR INSTR(content, #{kwd}) &gt; 0 )
			</when>
			<when test="schType == 'reg_date'">
				( TO_CHAR(reg_date, 'YYYY-MM-DD') = #{kwd}
			    	OR TO_CHAR(reg_date, 'YYYYMMDD') = #{kwd} )
			</when>
			<otherwise>
				INSTR(${schType}, #{kwd}) &gt; 0
			</otherwise>
		</choose>
	</sql>

	<!-- 글 개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(num), 0)
		FROM bbs
		<where>
			<if test="kwd != null and kwd != '' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<!-- 글 리스트 -->
	<select id="listBoard" parameterType="map" resultType="com.sp.app.model.Board">
		SELECT num, name, subject, hitCount, 
		       TO_CHAR(reg_date, 'yyyy-mm-dd') as reg_date
		FROM bbs
		<where>
			<if test="kwd != null and kwd != ''">
				<include refid="where-list"/>
			</if>
		</where>
		ORDER BY num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>

	<!-- 글보기 -->
	<select id="findById" parameterType="Long" resultType="com.sp.app.model.Board">
		SELECT num, name, pwd, subject, content, ipAddr, hitCount, reg_date
		FROM bbs
		WHERE num = #{num}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="Long">
		UPDATE bbs SET hitCount = hitCount+1
		WHERE num = #{num}
	</update>
	
	<!-- AND 가 필요 없는 경우 자동으로 제거 됨 -->
	<!-- 이전글 -->
	<select id="findByPrev" parameterType="map" resultType="com.sp.app.model.Board">
		SELECT num, subject
		FROM bbs
		<where>
			<if test="kwd != null and kwd != '' ">
				<include refid="where-list"/>
			</if>
			AND (num &gt; #{num})
		</where>
		ORDER BY num ASC
		FETCH FIRST 1 ROWS ONLY
	</select>

	<!-- 다음글 -->
	<select id="findByNext" parameterType="map" resultType="com.sp.app.model.Board">
		SELECT num, subject
		FROM bbs
		<where>
			<if test="kwd != null and kwd != '' ">
				<include refid="where-list"/>
			</if>
			AND (num &lt; #{num})
		</where>
		ORDER BY num DESC
		FETCH FIRST 1 ROWS ONLY
	</select>

	<!-- 수정 -->
	<update id="updateBoard" parameterType="com.sp.app.model.Board">
		UPDATE bbs SET name = #{name}, pwd = #{pwd}, subject = #{subject}, 
			content = #{content}
		WHERE num = #{num}
	</update>
      
	<!-- 삭제 -->
	<delete id="deleteBoard" parameterType="Long">
		DELETE FROM bbs
		WHERE num = #{num}
	</delete>
</mapper>